{:paths ["src" "notebooks"]
 :deps
 {org.clojure/clojure {:mvn/version "1.11.1"}}
 :aliases
 {:dev 
  {:extra-paths ["dev"]
   :extra-deps {nrepl/nrepl {:mvn/version "1.0.0"}
                io.github.nextjournal/clerk {:mvn/version "0.12.699"}}}}}
